body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #FF6363;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 2em;
    max-width: 1800px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #FF6363(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 1em;
}

label {
    display: block;
    margin: 0.5em 0 0.2em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.7em;
    background-color: #f23232;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6105f6;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #f88f8f;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}